<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>wine.autotest.desktop.test.Desktop</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC257_VerifyLikeDislikeNtSelectedinVeritalpreferencePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC47_SortOptionsOfGiftCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC277_verifyTheLimitPerCustomerForPresaleProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC180_verify30LocationsAreDispInFedexAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC18_orderCreationWithGiftCertForExistinguser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC65_orderCreationWithRegionForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC261_verifyDescriptionDisplayedInRecipientSectionWhenSelectLocalPickup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC140_deletePreferredCreditCardUserProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC201_verifyCustomerShipstateRevertedToPreviousStateOutsideShoppingCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC253_verifyGiftCardRedeemedDisplayedInOrderSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC202_verifyEditFunctionalityofPreferredAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC100_verifyBehaviourOFContinueButtonInRecipientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC167_verifyMilitaryOfficeBillingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC131_fedexLocationForUPSStatesInRecipientSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC109_verifyStewardshipChargesAreSavedInFinalReviewPAgeForStandardShipping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC276_verifyEstimatedDeliveryAndChangeDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC76_orderCreationWithShippingMethodForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC270_VerifyBackandNextButtonFunctionalityinQuizPages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC272_VerifyDislikeSectionNotDispinVarietalPreffReviewPgwhenUserDoesntprovideDislikePreference</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC227_verifyTheRareProductAttributeIconDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC112_verifyErrorMessageInTheLoginComponent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC176_passwordExceptsMoreThan15Char</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC129_promoBannerBehaviourForDryState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC134_verifyTheAddressInRecipientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC115_aboutProffessionalandProductAttributeDescriptionInPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC204_verifyLinkinFooter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC258_verifyGiftCardRedeemedDisplayedInOrderSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC122_giftMessageRemainingCharacterCountdown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC38_verifyErrorMsgForUsedGiftCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC155_existingCustomerLinkInNewCustomerRegisterPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC56_verifyItemWithoutQuantityPicker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC147_userSelectsToPayWithDifferentCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC163_ratingStarsDisplayedProperlyInMyWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC213_OrderHistoryShippingAmountValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC244_VerifyMySommPageDisplayedthroughPickedSettingNav</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC43_HandelsXBottelsPerCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC266_VerifySpiritsMenuDispinWineHomepage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC27_applyAndRemoveromoCodeForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC108_verifyUserIsNavigatedToAppropriateTextUrl</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC251_verifyDeliveryViaEmailDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC271_VerifyDeliveryCalenderisDispWhenUserSelectDeliverAnywayOptn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC104_productsInsaveForLaterNtStayedBackShipToSateChange</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC70_orderCreationWithSpecialProductsForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC49_VerifyProductsAreListedInAlphbeticalOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC208_VerifyUserNtabletoSelectSaturdayForShippinginHawaii</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC211_VerifySiginModelforMyWineinListandPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC21_sortingOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC60_verifySaveCreditCardInfoCheckboxCheckedFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC92_InvalidEmailGiftRecipientValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC152_VerifyGiftcardRedeemFunctionalityinPickedSubscriptionFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC224_stewardUpsellshouldMatchShippingAndHandalingCharges</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC218_verifyTheBehaviorOfTheContinueButtonIfAddressNtSelectedInRecipientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC79_orderCreationWithEditFunctionalityInFinalReviewPageForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC97_verifyErrorMsgForAddingNewCreditCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC192_VerifyTatVarietalNRegOriginTextInPIPAreTheLinksToListPages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC99_verifyEditFunctionalityForFedexeAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC86_orderCreationWithWhiteWineForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC110_verifyErrorMsgInvalidZipCodeForFedexeAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC67_OrderCreationWithFilteringTheProductsForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC212_orderHistoryProgressBarValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC57_verifyUnderVarietalFilters</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC246_VerifyUserAbleToAddGifrWrappingMessageAndEmailAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC269_VerifySpiritshowsasOutofStockifsetforOutsideofState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC44_CreateAccountButtonInActive</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC165_loginUsingFacebook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC282_ValidateCustomStylingforDefaultModel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC168_verifyShipToDateUpdated</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC23_searchProductWithCharacter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC81_addAddressUsingUserProfileServicesForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC124_viewAllWineForDifferentStates</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC66_orderCreationWithRegionForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC98_verifyEditFunctionalityForHomeAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC289_VerifyStewardAccountPageDispForStewardUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC120_newAlertSectionForCurrentlyUnavailable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC118_stewardshipAutoRenewalOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC279_removePromoCodeFromTheSubscriptionModel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC287_VerifyReasonReqtooptoutStewardRenew</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC22_verifyDiscountPriceInRedColorAndGrandTotalInBold</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC259_verifyGiftCardRemainingIsNtDisplayedInTheOrderSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC51_verifyEditFunctionalityofShippingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC187_VerifyPickUpFormIsNtDispForDiffBillingAddr</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC290_VerifyStewardAccountPageDispForNonStewardUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC61_verifyCollapsedPanelInShippingForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC232_VerifyGftCrdSucessMsgDispAftrGftCrdApplied</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC159_modalLightBoxWithXIcon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC36_verifyWarningMsgForDryStateShippingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC28_applyAndReovePromoCodeForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC157_continueWithFacebook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC179_verifyProductsAreRemovedInMyWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC214_VerifyCopyrightsinFooter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC59_verifySaveCreditCardInfoCheckboxUncheckedFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC69_orderCreationWithSpecialProductsForExistingUserr</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC148_verifySortFunctionalitiesUnderMyWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC20_verifyStewardshipDiscount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC205_VerifyStewardshipStdShiping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC55_verifyStewardshipProgramAddedToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC285_ValidateHALCountinPickedRecipient</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC37_verifyWarningMsgForOnlyPreSaleProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC206_reportingAddressPopUpforNewPickUpLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC31_verifySalesTaxInCartandFinalReviewPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC107_itemsNtEligibleForPromoCodeRedemption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC284_VerifyAuthScreenisDispinCompassSubscriptionFlowWhenUserSignedin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC247_verifyTheOfferPageIsDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC50_PasswordValidationLessThanSixChar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC207_VerifyUserNtabletoSelectSaturdayForShippinginAlaska</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC137_filterIsHighlightedInBlueInListPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC235_VerifySubscriptionSettingsSummIsDispInCheckoutNRecipientPaymnt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC221_verifyAddressGetsDeletPermanentlyFromTheShippingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC142_calenderDispalyedSixMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC198_VerifySaveForLaterOnClickingContinueShipToKY</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC233_VerifyTheRecipientSectionUIUnderSubscriptionFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC229_verifyCorporateGiftLinkDisplayedUnderCustomerCareSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC06_saveForLaterWithSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC42_verifyWarningMsgForRemoveShipTodayProductsFromCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC09_orderCreationWithPromoCodeForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC200_verifyCustomerShipstateRevertedToPreviousStateInsideShoppingCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC262_verifyContentDisplayedUnderMySOMMSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC199_VerifyProductMovedToCartFromSaveForLaterOnClickingMoveToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC164_verifyTheFourAddressAndCreditcards</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC210_verifyAddToMyWineFunctionalityinPIPforrating</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC25_removeAllProductsFromTheCartContinueShoppingWithSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC149_wireUpCalender</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC87_verifyGiftWrappingSectionNtDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC291_ValidateStewardshipLifeTimeSavings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC07_orderCreationWihNewAccountBillingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC13_removeProductsFromTheSaveForLater</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC219_verifyTheBillingAddressCheckboxIsCheckedByDefault</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC101_verifyTheGiftOptionSummaryRecipientSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC173_verifyBillingPhoneNumberIsRequiredField</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC228_verifyPromoCodeAndGiftCardErrorMassage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC24_removeAllProductsFromTheCartContinueShoppingWithoutSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC54_VerifyGiftCardFunctionalityinPaymentSecofPickedSubscriptionFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC19_orderCreationWithGiftCertForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC41_verifyAddToCartButtonFunctionlityForDryState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC217_verifyStewardshipMessageNotDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC188_VerifyDOBFieldIsPresentInPaymntAfterAddingNewCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC150_multipleTrackingOrderNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC126_ABVandFoundLowerPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC135_VerifyGiftCardBalanceisGreaterthan0$isDisponPaymentSecofPickedSubscriptionFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC230_VerifyGftCardBalDispIn_OrdrSummaryUponRedeem</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC267_VerifyFiltersinSpirits</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC175_verifyAboutProfRatingsHeaderisDispInProf</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC32_QuantityPickerFromPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC45_VerifyInvalidEmailInCreateAccountForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC143_verifyShipToTthisAddressSelectionChanged</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC12_productsInCartAfterRemove</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC166_DoBFormatInUserProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC260_verifyCompassUserNtAbleToEnrollForDryState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC283_VerifyAuthScreenDispinCompassSubscriptionFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC234_ValidateTheSubscriptionFlowForLocalPickupAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC71_orderCreationWithTopRatedProductsForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC39_verifyWarningMsgForDryStateSaveForLater</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC52_orderCreationWithFedExAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC293_ValidateNoReferaFriendlinkforStateOH</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC178_verifyAddToMyWineFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC117_verifyTheElementsDisplayedOverTheHeroImage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC130_sortOrderInNewArrivalAlerts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC113_updateAccountInfoWithOutDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC183_verifyAddAntherTextAndCorporateGiftsLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC153_giftBagIsDisplayedAsLineItemInShoppingCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC249_verifyStewardshipDiscountDisplayedNegetiveInHistory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC29_quantityPickerInCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC84_addPaymentMethodUsingUserProfileServicesForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC223_verifyShippinAndHandalingChargesAppliedToTheNnStewardshipUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC138_verifyTheAddressGetsDeletedPermanently</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC123_productAttributeDescriptionInListPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC195_VerifyWetStateandPromoBannerinHomePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC64_verifyOptionTryVinatageAndRemoveButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC125_superscriptInProductPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC280_verifySurveyMonkeyQuizRemoved</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC111_verifyProductsAreListedInAlphabeticalOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC04_orderCreationWithNewAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC83_addPaymentMethodUsingUserProfileServicesForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC102_newArrivalAlertsInUserProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC96_preferredAdressFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC254_VerifyRescheduleSubscriptioninPickedSetting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC35_VerifyWarningMsgaddShipTodayProductsAndListProductsToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC91_ratingStarsHiddenInPIPForGifts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC274_VerifyLikeSectionNotDispinVarietalPreffReviewPgwhenUserDoesntprovideLikePreference</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC34_invalidGiftCardValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC189_VerifyVareitalPlusRegionIsDisplayedInHeroImage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC182_verifyMyWineSignInNEditLinkForGiftMessage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC141_removePreferredCreditCardDuringCheckout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC263_OrderCreationWithOrderAgainWithSameProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC30_invalidPromoCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC288_VerifyKeepMembershipFunctionalityDuringStewardOptOutFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC89_forgotPasswordInvalidEmailErrorMsgValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC78_OrderCreationWithEditFunctionalityInFinalReviewPageForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC77_OrderCreationWithShippingMethodForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC136_verifyErrorDisplayedForInvalidProductId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC196_VerifyAddressfromAddresBooktoRecipientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC185_verifyShippingCostAppliedToOrderSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC268_VerifyUserAbletoAddSpritsviaPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC286_ValidateHALCountinLocalPickupandRecipient</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC151_VerifyUserAbletoApplyGiftinPickedSettingsPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC33_finalReviewPageContinueShopping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC11_removeFewProductsFromTheCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC145_enteredGiftCardGiftCertificateSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC75_orderCreationWithMyWineForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC170_shipSoonCheckBox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC17_userProfileCreationMyWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC242_ValidateCompassEnrollmentFlowforBothRedandWhiteWineWithSubscriptionSettingsandPymtMethodEdit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC241_ValidateCompassEnrollmentFlowforRedWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC80_addAddressUsingUserProfileServicesForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC82_orderCreationUsingUserProfileServicesWithStewardshipSettings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC03_orderCreationWithExistingAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC68_orderCreationWithProductFilterationForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC128_removeCreditCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC222_verifyContentInTheOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC252_verifyCompassUserSubscription</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC16_userProfileCreationWithCheckoutProcess</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC292_VerifyStewardRenewoptoutFunctionalityFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC127_collapsedDeliverySectionWhenThePreSaleItemIsAdded</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC215_VerifyAddToCartButtonDisplayedForRecommendedProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC02_productFilteration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC171_verifyLocalPickupInformationDisplayedInCollapsedDeliverySection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC154_createNewAccountWhileRatingTheProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC121_promoCodesThatDntMeetMinimumAmount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC160_VerifyRedeemedGiftCardDisponPickedSettingsPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC161_limitReached</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC190_VerifyAddToCartAlertIsDispWhenProdIsAdded</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC203_verifyCustomerCareLinkinHeader</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC169_verifyOrderOfProductsIconInPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC46_HandleSoldInIncrementOfXProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC186_VerifyShippingAndHandlingQuestionMarkIconIsDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC105_verifyStewardshipUpsellWhenCartIsEmpty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC193_VerifyGiftCardErrorMessageForInvalidCodes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC94_verifyTheFunctionalityOfAddAddressLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC177_verifyDiffGiftBagTot</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC275_VerifyVarietalPrefernceUpdateSectionisAvailableinPickedSettingsPgwhenSommisNotAssigned</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC73_orderCreationWithGiftsForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC256_VerifyRedWhiteButtonPresentinPriceQtyWidgetPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC103_updateShippingAddressInAddressBook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC172_verifyFedexDisplaysProperGoogleAdresses</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC26_giftRecipientEmailValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC15_userProfileCreationWithDesiredState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC162_alphabeticalOrderMovingFromSaveForLaterToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC225_verifyGoBackButtonIsDispInFedexWindow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC273_VerifyErrorMsgDispuponClickingConfirmButtonwhenUserDoesntSelectReschedulingOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC236_VerifyGiftCardWithZeroBalanceIsRemovedInPaymentSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC158_verifyTheShipsOnStatementInPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC240_ValidateCompassEnrollmentFlowforWhiteWine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC226_validatePromoCodeAppliedMessageDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC264_WeatherHoldOptionforGreater300</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC248_verifyTheElementsDisplayedInThankyouPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC116_errorMessageDisplayedForTheUserBelow21Years</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC01_Basetest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC05_saveForLaterWithoutSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC72_orderCreationWithTopRatedProductsForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC58_VerifyEditButtontakesUsertoPricemixPageRatherthanBeginningofQuiz</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC139_addressGetsSavedOnceOnAddingNewAddressInUserProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC238_VerifyDetailedTermsAndConditionsPageIsDispOnClickingReadTermsLnk</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC265_PromoCodeValidatioinOnboardingandPaymentPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC144_vintageRefinementsAreOrderedInChroNlogicalOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC133_showOutOfStocksAndRecommenderProdutcs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC10_orderCreationWithPromoCodeForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC08_orderCreationWihExistingAccountBillingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC216_VerifyRecommendedProductsAfterRatingTheStars</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC191_VerifySimilarRecmondedProdAredispAbvTheWineMakerNtesForOutOfStockInPip</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC156_verifyRatingOptionIsDisplayedInSliderBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC63_verifySuggestedShippingAddressWidget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC245_VerifyContentforYourSubscriptioninPickedSetting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC278_verifyPreSaleBlurbDisplayedInDeliverySection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC174_verifyAddressSuggestioIsDisplayedAndAddressNtAutoUpdated</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC255_VerifyUserAbletoSetRedWhiteBottleCountto0or6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC239_VerifyLikedandDisLikedRedWhiteWineinAnythingElseSectionAndTotalPricewithQtyvalidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC48_VerifyOutOFStockCheckboxChecked</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC62_verifyStateChangeDialog</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC281_VerifyPlaceHolderTextLinkinSubscriptionFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC88_forgotPasswordValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC106_stewardshipUpsellInFinalReviewPAgeForStandardShipping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC243_VerifyChangeDelvyDateandRecipientAddressinPickedSettingpage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC14_forgotPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC74_orderCreationWithGiftsForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC237_ValidateTheSubscriptionFlowForHomeAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC132_creditCardInfoIsUpdatedInPaymentMethods</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC194_VerifyNewTagTitlesForListPages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC146_verifyNtMoreThanTwoGiftCardreedemed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC197_VerifyStewardshipMessageNtDisplayedinCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC85_orderCreationWithWhiteWineForNewUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC114_verifyTheSocialMediaLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC95_verifyTheContentsOfVerifyAddressDialog</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC220_verifyBillingAddressDisplayedOnUncheckingTheBillingSameAsShipping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC231_VerifyGftCrdAccIsDispInPymntOpt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC53_verifyAddGiftWrappingToCartFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC119_verifyLinksDispalyedInFooter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC93_verifyPromoBarIsDisplayedInAccountPages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC250_verifyGiftCardAccountDisplayedInThePaymentOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC40_verifyDryStateProductsUnavailableFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC181_verifyDefaultGiftBagButtonIsUnchecked</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC184_verifyPromoBarIsDispInSignAndThankYouPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC209_verifyAddToMyWineFunctionalityinPIP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC90_emailPrefernce</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loadFiles</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Launchbrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
