<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>wine.autotest.desktop.smoke.test.SmokeTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC04_OrderCreationWithStandardShippingMethodAsStewardshipUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC01_OrderCreationWithNewAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC05_VerifyOrderWithVisaCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC03_OrderCreationWithGftMsgNGftEmailWithSilverSheerGftBag</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC02_OrderCreationWithDifferentVarietalProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loadFiles</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Launchbrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
