<h2>Methods that were not run</h2><table>
<tr><td>wine.autotest.desktop.smoke.test.SmokeTest.TC02_OrderCreationWithDifferentVarietalProducts</td></tr>
<tr><td>wine.autotest.desktop.smoke.test.SmokeTest.TC04_OrderCreationWithStandardShippingMethodAsStewardshipUser</td></tr>
<tr><td>wine.autotest.desktop.smoke.test.SmokeTest.TC01_OrderCreationWithNewAccount</td></tr>
<tr><td>wine.autotest.desktop.smoke.test.SmokeTest.TC05_VerifyOrderWithVisaCard</td></tr>
</table>