<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Wine Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b0a5">  <td>21/09/01 03:02:35</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;SmokeTest.CloseBrowserAndEndReport()[pri:0, instance:wine.autotest.desktop.smoke.test.SmokeTest@4c309d4d]">&lt;&lt;CloseBrowserAndEndReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@195381554</td>   <td></td> </tr>
<tr bgcolor="83b0a5">  <td>21/09/01 03:02:35</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SmokeTest.Closebrowser()[pri:0, instance:wine.autotest.desktop.smoke.test.SmokeTest@4c309d4d]">&lt;&lt;Closebrowser</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1196998750</td>   <td></td> </tr>
<tr bgcolor="83b0a5">  <td>21/09/01 02:59:28</td>   <td>-187542</td> <td>&nbsp;</td><td title="&gt;&gt;SmokeTest.ExtendReport()[pri:0, instance:wine.autotest.desktop.smoke.test.SmokeTest@4c309d4d]">&gt;&gt;ExtendReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@195381554</td>   <td></td> </tr>
<tr bgcolor="83b0a5">  <td>21/09/01 02:59:28</td>   <td>-187012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SmokeTest.Launchbrowser(java.lang.String)[pri:0, instance:wine.autotest.desktop.smoke.test.SmokeTest@4c309d4d]">&gt;&gt;Launchbrowser</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1196998750</td>   <td></td> </tr>
<tr bgcolor="83b0a5">  <td>21/09/01 02:59:31</td>   <td>-184517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.TC03_OrderCreationWithGftMsgNGftEmailWithSilverSheerGftBag()[pri:0, instance:wine.autotest.desktop.smoke.test.SmokeTest@4c309d4d]">TC03_OrderCreationWithGftMsgNGftEmailWithSilverSheerGftBag</td> 
  <td>pool-1-thread-1@1196998750</td>   <td></td> </tr>
<tr bgcolor="83b0a5">  <td>21/09/01 03:02:36</td>   <td>524</td> <td title="&lt;&lt;SmokeTest.endScenariosExecution()[pri:0, instance:wine.autotest.desktop.smoke.test.SmokeTest@4c309d4d]">&lt;&lt;endScenariosExecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@195381554</td>   <td></td> </tr>
<tr bgcolor="83b0a5">  <td>21/09/01 02:59:28</td>   <td>-187075</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SmokeTest.loadFiles(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:wine.autotest.desktop.smoke.test.SmokeTest@4c309d4d]">&gt;&gt;loadFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@1196998750</td>   <td></td> </tr>
</table>
